{% include base_path %}

<section class="home-hero" aria-label="Introduction">
  <div class="home-hero__bg" aria-hidden="true">
    <div class="home-hero__gradient"></div>
    <canvas id="mol-canvas" class="mol-canvas"></canvas>
    <div id="mol-3d" class="mol-3d"></div>
    <div class="home-hero__nodes">
      <span class="home-hero__node home-hero__node--1"></span>
      <span class="home-hero__node home-hero__node--2"></span>
      <span class="home-hero__node home-hero__node--3"></span>
      <span class="home-hero__node home-hero__node--4"></span>
      <span class="home-hero__node home-hero__node--5"></span>
      <span class="home-hero__node home-hero__node--6"></span>
    </div>
  </div>

  <div class="home-hero__content wrapper">
    <h1 class="home-hero__title">{{ site.author.name | default: site.title }}</h1>
    <p class="home-hero__role">Computational Chemist · Chemical Data Scientist</p>
    <p class="home-hero__tagline">I develop chemoinformatics and computational methods to accelerate drug discovery.</p>

    <div class="home-hero__actions">
      <a href="{{ base_path }}/publications/" class="btn btn--primary">Publications</a>
      <a href="{{ base_path }}/cv/" class="btn btn--outline">CV</a>
      {% if site.author.github %}
        <a href="https://github.com/{{ site.author.github }}" class="btn btn--outline">GitHub</a>
      {% endif %}
    </div>
  </div>
</section>
